/* ========================================
   Sonos Addon - Custom Styles
   ======================================== */

/* ========================================
   Body Styling
   ======================================== */
body {
    zoom: 1;
    margin-top: 60px;
}

.body-blue {
    background: #eaecfa;
}

/* ========================================
   Custom Button Sizes
   ======================================== */
.custom {
    width: 100px !important;
}

.custom1 {
    width: 160px !important;
}

/* ========================================
   Navigation Bar Customization
   ======================================== */
.navbar-fixed-top .nav {
    padding: 0;
}

.navbar-nav > li > a,
.navbar-brand {
    height: 20px;
}

.navbar {
    min-height: 28px !important;
}

@media (min-width: 768px) {
    .navbar-fixed-top .navbar-brand {
        padding: 11px 0;
    }
}

/* ========================================
   Table Styling
   ======================================== */
.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

/* ========================================
   Sonos Branding
   ======================================== */
.sonos {
    height: 48px;
    width: 48px;
}

/* ========================================
   Loading Spinner
   ======================================== */
/* This only works with JavaScript enabled */
.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 100px;
}

.se-pre-con {
    position: fixed;
    left: 0;
    top: 110px;
    width: 100%;
    height: 20%;
    z-index: 9999;
    background: url(../img/Preloader.gif) center no-repeat #fff;
}
